/* HEADER SECTION CSS */
.outerDiv {
  max-width: 100vw;
  min-height: 100vh;
}

.headerSection {
  /* height: 15vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerSection p {
  font-size: 2.3vw;
  /* padding: 15px; */
  color: #252525;
  margin: 3vw;
  font-family: 'Open Sans', sans-serif !important;
  /* font-weight: 520; */
  /* letter-spacing: 0.5px; */
}

.headerSection button {
  background-color: #499557;
  color: white;
  font-size: 1.2vw;
  font-weight: 550;
  border: none;
  border-radius: 25px;
  padding: 0.8vw 7vw;
  /* padding: 6px 16px; */
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerSection button:hover {
  background-color: #376f41;
  transition: 1s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #252525;
  height: 4vw;
  font-size: 1.5vw;
  font-weight: 550;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 2px 0.5px 2px black;
}

/* ADVATAGE SECTION CSS */

.advantageOuterDiv {
  margin-top: 5vw;
  /* height: 600px; */
  /* background-image: url("https://images.unsplash.com/photo-1476673160081-cf065607f449?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"); */
  background-image: url(./assets/images/slideImage.jpg);
  background-size: cover;
  width: 100%;
}

.advantageInner {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.leftSection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSection img {
  width: 42vw;
  margin-left: 5vw;
}

.rightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.rightItem {
  padding: 0.5vw;
  margin: 0.5vw;
  width: 70%;
  text-overflow: clip;
  text-align: left;
  cursor: pointer;
}

.itemHeading {
  color: #499557;
  font-size: 1.4vw;
  margin: 6px 0px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.itemDescription {
  font-size: 1.3vw;
  color: #505050;
  font-family: 'Open Sans', sans-serif;
}

.selectedItem {
  color: #252525;
  /* font-weight: 550; */
}

.progressBar {
  /* height: 4px; */
  height: 0.3vw;
  background-color: rgb(222, 225, 227);
  /* margin: 4px 0px; */
  margin-top: 1vw;
}

.progress {
  /* height: 4px; */
  height: 0.3vw;
  background-color: #499557;
}

/* PREMIUM SECTION CSS */

.premiumOuterDiv {
  margin-top: 4vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin: 20px; */
  padding: 10px;
}

.premiumHeading {
  font-size: 2.5vw;
  padding: 8px;
  margin: 30px;
  font-weight: 520;
  letter-spacing: 0.5px;
}

.premiumTable {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}

.freeSection,
.premSection {
  width: 30vw;
}


.freeHead {
  background-color: #499557;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  letter-spacing: 1px;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.premHead {
  background-color: rgb(243, 172, 42);
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  letter-spacing: 1px;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60px; */
  height: 8vw;
  padding: 0vw;
  box-shadow: 0px 0px 2px rgb(199, 198, 198);
}

.btnDiv button {
  background-color: #499557;
  color: white;
  font-size: 1.2vw;
  border: none;
  border-radius: 25px;
  padding: 1vw 6vw;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btnDiv button:hover {
  background-color: #376f41;
  transition: 1s;
}

.btnDivPrem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0vw;
  /* height: 60px; */
  height: 8vw;
  box-shadow: 0px 0px 2px rgb(199, 198, 198);
}

.btnDivPrem button {
  background-color: rgb(243, 172, 42);
  color: white;
  font-size: 1.2vw;
  border: none;
  border-radius: 25px;
  /* padding: 12px 6vw; */
  padding: 1vw 6vw;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btnDivPrem button:hover {
  background-color: rgb(192, 137, 34);
  transition: 1s;
}

.paraItems {
  font-size: 1.5vw;
  /* font-size: 1rem; */
  padding: 2.5vw 2vw;
  box-shadow: 0px 0px 1px rgb(199, 198, 198);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  max-height: 4vw;
  color: #252525;
}

.paraItems span {
  float: right;
  color: gray;
  cursor: pointer;
  margin-left: 0.5vw;
  font-size: 1.8vw;
}

.paraItems span:hover {
  color: lightgray;
}

.lastItem {
  background-color: lightgray;
  padding: 2vw;
  font-size: 1.5vw;
  /* box-shadow: 0px 0px 2px rgb(199, 198, 198); */
  box-shadow: 0px 8px 8px rgb(199, 198, 198);
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  text-align: center;
  letter-spacing: 0px;
  text-shadow: 0px 0px 0.8px black;
}

.someText {
  font-size: 1.5vw;
  /* width: 50%; */
  text-align: center;
}

/* DETAILS SECTION CSS */

.detailOuterDiv {
  margin-top: 6vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detailOuterDiv p {
  margin: 10px;
  text-align: center;
}

.roundProgress {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.roundItem {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.circleDiv1 {
  font-size: 1.5vw;
  border-radius: 50%;
  height: 12vw;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: conic-gradient(#499557 270deg, lightgray 0deg);
}

.percent1 {
  height: 11vw;
  width: 11vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  color: #499557;
  font-weight: 600;
}

.circleDiv2 {
  font-size: 1.5vw;
  border-radius: 50%;
  height: 12vw;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: conic-gradient(#499557 360deg, lightgray 0deg);
}

.percent2 {
  height: 11vw;
  width: 11vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  color: #499557;
  font-weight: 600;
}

.circleDiv3 {
  font-size: 1.5vw;
  border-radius: 50%;
  height: 12vw;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: conic-gradient(#499557 306deg, lightgray 0deg);
}

.percent3 {
  height: 11vw;
  width: 11vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  color: #499557;
  font-weight: 600;
}

.bigValue {
  font-size: 3.5vw;
}

.smallValue {
  font-size: 1.2vw;
}

.refreshIcon {
  font-size: 3vw;
  /* margin: 0 1vw;
  padding: 0 1vw; */
  height: 4vw;
  width: 4vw;
  margin-bottom: 3vw;
  color: #499557;
  cursor: pointer;
  border-radius: 50%;
  border: 0.2vw solid #499557;
  display: flex;
  justify-content: center;
  align-items: center;
}